@model IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <div class="@ViewBag.AlertClasses">@ViewBag.StatusMessage</div>
        @*<dt>@Html.DisplayNameFor(m => m.Name)</dt>
        <dd>
            <div id="name-update-alert"></div>
            @Html.EditorFor(m => m.Name)
            <button id="update-name" class="btn btn-primary btn-sm ">Update</button>
        </dd>*@
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>
        <dt>Bots:</dt>
        @foreach (var bot in Model.Bots)
        {
            <dd>@bot.Name [ @Html.ActionLink("Edit", "EditBot", new{id = @bot.Id}) ]</dd>
        }
        <dd>[ @Html.ActionLink("Add New Bot", "NewBot") ]</dd>
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.
             
             See <a href="http://go.microsoft.com/fwlink/?LinkId=313242">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.
             
             Uncomment the following block after you have set up two-factor authentication
        *@
        @*  
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None") [
                @if (Model.PhoneNumber != null)
                {
                    @Html.ActionLink("Change", "AddPhoneNumber")
                    @: &nbsp;|&nbsp;
                    @Html.ActionLink("Remove", "RemovePhoneNumber")
                }
                else
                {
                    @Html.ActionLink("Add", "AddPhoneNumber")
                }
                ]
            </dd>
        *@
        @*@if (Model.TwoFactor)
                {

                    <form method="post" action="/Manage/DisableTwoFactorAuthentication">
                        Enabled
                        <input type="submit" value="Disable" class="btn btn-link" />
                    </form>
                }
                else
                {

                    <form method="post" action="/Manage/EnableTwoFactorAuthentication">
                        Disabled
                        <input type="submit" value="Enable" class="btn btn-link" />
                    </form>
                }*@
    </dl>
</div>


<script type="text/javascript">
    $("#update-name").on('click', function () {
        var name = $('#Name').val();
        $.post('@Url.Action("UpdateName")', { newName: name}, function(returnString) {
            $("user-name").val(returnString);
            if (returnString == name) {
                $('#name-update-alert').text("Username was successfully updated");
                $('#name-update-alert').addClass('alert alert-success');
                $('#name-update-alert').removeClass('alert-danger');
            } else {
                $('#name-update-alert').text("Username could not be updated for some reason.");
                $('#name-update-alert').addClass('alert alert-danger');
                $('#name-update-alert').removeClass('alert-success');
            }
        });
        });
</script>