@{
    ViewBag.Title = "Battle";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2>Bot War</h2>
<div>
    @using (Html.BeginForm("NewGame", "Battle"))
    {
        <button class="btn btn-inverse" title="Fight" type="submit">Fight!</button>
    }
</div>

<h3>News</h3>
<p>Our aerial reconnaissance vehicles are picking up the following feed of the battle as it unfolds. </p>
<canvas id="game" height="500" width="500" style="border-color: lightgrey; border-style: solid; border-width:2px;"></canvas>
<p>Our bots color is <span data-bind="text: color"></span>.</p>
<p> We have <span class="energy-news" data-bind="text: ourEnergy"></span> energy in reserves.</p>
<p> Our Enemey has <span class="energy-news" data-bind="text: theirEnergy"></span> energy in reserves.</p>
<p>The battle will continue for <span id="moves-left" data-bind="text: movesRemaining"></span> cycles.</p>
<p></p>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/signalR")
@Scripts.Render("~/bundles/knockout")

<script type="text/javascript" src="~/signalr/hubs"></script>
<script type="text/javascript" src="~/Scripts/WarViewer.js"></script>
<script type="text/javascript">
    $("#new-game").on('click', function () {
            
         $.post(@Url.Action("NewGame", "Battle"));
    });
</script>