@model NetBots.WebServer.Model.PlayerBot

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PlayerBot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Losses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Losses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ties)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ties)
        </dd>

    </dl>
</div>
<p>
    @{
        if (Model.UserId == User.Identity.GetUserId())
        {
            @:@Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        }
        else
        {
            @:Edit
        }
    }
     |
    @Html.ActionLink("Back to List", "Index")
</p>
